# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log
logs/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Database
*.db

# macOS
.DS_Store

# Windows
Thumbs.db